<p-table *ngIf="accounts()" [value]="!isReconcileMode ? accounts() : accountModels()" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Last Modified</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-account>
    <tr>
      <td>{{ account.name}}</td>
      <td *ngIf="!isReconcileMode; else reconcileForm ">{{ account.balance | currency: 'GBP':'symbol': '1.2-2':'en-GB' }}</td>
      <ng-template #reconcileForm>
        <td><p-inputNumber [(ngModel)]="account.balance"></p-inputNumber></td>
      </ng-template>
      <td>{{ account.modified ?? 'N/A' }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td colspan="1" class="text-right">Net Worth</td>
      <td>{{accountService.totalBalance() | currency: 'GBP':'symbol':'1.2-2':'en-GB'}}</td>
    </tr>
    <tr>
      <td colspan="1" class="text-right">Last Reconciled: </td>
      <td><p-button color="primary" (click)="reconcileAction()">{{isReconcileMode ? "Save" : "Reconcile"}}</p-button></td>
    </tr>

    <p-button *ngIf="!isReconcileMode" label="Add Account" icon="pi pi-plus" (click)="toggleAddAccountDialog()" ></p-button>

    <ng-template [ngIf]="addAccountDialog">
      <app-add-account></app-add-account>
    </ng-template>
  </ng-template>
</p-table>






