:host {
    display: block;
    height: 100%;
}

.mainContainer{
    width: 80%;
    margin: 0;
    height: auto;
}

@media screen  and (max-width: 600px) {

  .mainContainer{
    width: 100vw;
    height: 100vh;
  }
    .side-menu{
        display: none;
    }
}
