html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mobile{
  display: none;
}
.p-calendar{
  .p-inputtext{
    background-color: transparent;
    text-align: center;
    font-size:1.2rem;
    font-weight: bold;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 0.3rem;

    border: 1px solid rgb(0, 0, 255, 0.2);
    &:hover{
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 600px) {
  .mobile{
    display: inline;
  }

  .add-budget-dialog {
    width: 90% !important;
  }

  .calendar-header-monthBar{
    &__info{
      .p-inputtext{
        font-size: 1rem;
      }
    }
  }
}
