.day-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  }

  .day-card__header{
    font-size: 1.2em;
    font-weight: bold;
    align-self:baseline;
  }

  .day-card__item{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0.5rem;
  }

  .day-card__footer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0.5rem;
  }

}




