.card{
    border: 1px solid #e0e0e0;
    height: 150px;
    width: 150px;
    font-size: 1.2em; ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4%;

    .day-number{
        font-size: 1.2em;
        font-weight: bold;
        margin: 0.5rem;
    }

    //select last child
    .item-container:last-child{
        margin-bottom: 0.5rem;
    }
}










