.card{

  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.3rem 0.5rem;
  vertical-align: top;
  border-right:  1px solid #dee2e6;
  border-bottom:  1px solid #dee2e6;
  cursor: pointer;
  height: 98%;


  .day-number{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0rem;
  }

  .item-container{
    padding-top: 0.75rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    height: auto;
    overflow-y: auto;
    max-height: calc(100% - 20px);

  }

  //select last child
  .item-container:last-child{
    margin-bottom: 0.3rem;
  }

  .total{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    bottom: 0;
  }

  .total-text, .total-amount{
    margin: 0rem;
    padding-top: 0.4rem;
    font-size: 1.2em;
    font-weight: bold;
  }

  .total-text{

    text-align: left;

    padding-left: 2.5rem;
  }

  .total-amount{
    text-align: right;
    padding-right: 2.5rem;
  }

}


.month{
  background-color: lightgray;
}


.today {
  background-color: lightblue;
}
