
<div class="day-card">
    <div class="day-card__header">
      {{day.date.getDate()}}
    </div>

    <div class="day-card__item" ng-scroll="$event.target.scrollTop = $event.target.scrollHeight">
      <div  *ngFor="let item of day.budgets">
        <app-day-card-item [name]="item.category.name" [amount]="item.amount" ></app-day-card-item>
      </div>
    </div>
    <div class="day-card__footer">
      <span class="total-text">Total:</span><span class="total-amount">{{day.total}}</span>
    </div>
</div>
