

<table class='calendar-table' *ngIf="calendar">
    <thead>
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      <tr>
        <th class="month-button" colspan="1" (click)="decreaseMonth()"><p><</p></th>
        <th colspan="5">{{displayMonth}}</th>
        <th class="month-button" colspan="1" (click)="increaseMonth()"><p>></p></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of calendar | calendarChunk: 7; let i = index">
        <td class="calendar-day" [ngClass]="{ 'today': c.isToday}" *ngFor="let c of row; let j = index">
            <app-day-card [dayNumber]="c.date.getDate()" ></app-day-card>
        </td>
      </tr>
    </tbody>
  </table>