
<table class='calendar-table' *ngIf="calendarService.calendar().length > 1">
  <thead>
  <tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  <tr>
    <th class="month-button" colspan="1" (click)="decreaseMonth()"><p><</p></th>
    <th colspan="5">{{calendarService.selectedMonthName()}}</th>
    <th class="month-button" colspan="1" (click)="increaseMonth()"><p>></p></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of  calendarService.calendar()| calendarChunk: 7; let i = index">
    <td class="calendar-day" *ngFor="let dayOfWeek of row; let week = index" >
      <app-day-card [day]="dayOfWeek"></app-day-card>
    </td>
  </tr>
  </tbody>
</table>
