//.calendar-table {
//  border-collapse: collapse;
//  height: 100vh;
//  width: 95%;
//  max-width: 100%;
//  margin-bottom: 1rem;
//
//  margin-left: 2.5%;
//}
//
//.calendar-table th {
//  padding: 1rem;
//  vertical-align: top;
//  border-top: 1px solid #dee2e6;
//  text-align: center;
//  background-color: coral;
//}
//
//.month-button{
//  background-color: lightblue;
//  font-size: 2rem;
//  border: none;
//
//  border-radius: 5px;
//  cursor: pointer;
//}
//
//th.month-button:hover{
//  background-color: lightcoral
//}
//
//.month-button p{
//  margin: 0;
//  padding: 0;
//  font-weight: bold;
//  font-size: 1.5rem;
//}
//
//.main-grid{
//
//}
//
//tr.grid-row{
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  align-items: center;
//
//
//}
//
//.grid-row > *{
//  flex: 1;
//}



.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5rem;
  margin: 0.5rem 0;
  height: calc(100vh - 100px);
  align-items: stretch;
}

.grid-month-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  height: 40px;

  .month-button{
    background-color: lightblue;
    font-size: 1rem;
    border: none;
    height:100%;

    border-radius: 5px;
    cursor: pointer;
  }

  .month-name{
    font-weight: bold;
    font-size: 1.5rem;
  }

}

.grid-day-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);

  .grid-header-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 7);
    text-align: center;
    font-weight: bold;
    border-right: 1px solid #dee2e6;

    &:last-child {
      border-right: none;
    }
  }
}
