

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, minmax(0, 1fr));
  grid-gap: 0.5rem;
  margin: 0.4rem 0 0 0;
  height: 91vh;
  max-height: 91vh;
  width: 100%;
  align-items: stretch;



}

.calendar-grid.largeGrid{
    grid-template-rows: repeat(6, 1fr);

}
