
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, minmax(0, 1fr));
  height: 84.5vh;
  max-height: 84.5vh;
  width: 100%;
  max-width: 100%;

  .gridItem{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    border: 1px solid rgb(255, 255, 255, 0.2);

  }



  .gridItem:nth-child(7n+1){
    border-left: none;
  }

  .gridItem:nth-child(7n+7) {
    border-right: none;
  }

}

.calendar-grid.largeGrid{
    grid-template-rows: repeat(6, 1fr);
}


@media screen and (max-width: 600px) {
  .calendar-grid{

  }
}
