
.calendar-header{
  display: flex;
  flex-direction: column;
  margin: 0 0 0.2rem 0;

}

.calendar-header-monthBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0 0.2rem;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  height: 4vh;
  background-color: coral;

  &__button{
    background-color: lightblue;
    font-size: 1rem;
    border: none;
    height:100%;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    margin-top:0.1rem;
  }

  &__monthName{
    font-weight: bold;
    font-size: 1.5rem;
    flex: 1;
    text-align: center;
  }

  button{
    padding: 0 0.5rem;
    transition: background 0.2s ease-in-out;
    &:hover{
      background: dodgerblue;
      transform: scale(1.05);
    }
  }

  &__rightButtons > button:nth-child(1) {
    margin-right: 0.5rem;
    padding: 0 1rem;
  }
}

.calendar-header-dayBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem 0;
 background-color: coral;
  border-radius: 0 0 5px 5px;
  font-size: 1.2rem;

  & > *:not(:first-child){
    border-left: 1px solid rgba(0,0,0,.2);
  }

  &__item{
    width: 100%;
    text-align: center;
  }
}



