<section class="calendar-header">
  <div class="calendar-header-monthBar">
    <div class="calendar-header-monthBar__info">


    <button  (click)="decreaseMonth()"><</button>
      <p-calendar  [(ngModel)]="date" name="date" view="month" dateFormat="MM yy" [readonlyInput]="true"  (ngModelChange)="onDateSelect($event)">
        <ng-template pTemplate="footer">
          <p-button type="button" (click)="onToday()" label="Today"></p-button>
        </ng-template>
      </p-calendar>
      <button  (click)="increaseMonth()">></button>
    </div>

  </div>
  <div class="calendar-header-dayBar">
      <div class="desktop" *ngFor="let day of DayNames">
        <div class="calendar-header-dayBar__item">
          {{day}}
        </div>
      </div>
      <div class="mobile" *ngFor="let day of DayNames">
        <div class="calendar-header-dayBar__item">
          {{day.substring(0, 1)}}
        </div>
      </div>
  </div>
</section>

