
<form class="budget-form" [formGroup]="createBudgetForm" xmlns="http://www.w3.org/1999/html" (ngSubmit)="onSubmit()">
    <p-fieldset styleClass="budget-form__fieldset" legend="'Category and Account Details">
            <div class="fieldset__categoryAndAccounts__item">
                <label for="categoryName">Category Name: </label>
                <p-autoComplete formControlName="categoryName" [suggestions]="filteredCategories"
                                (completeMethod)="searchCategory($event)" [dropdown]="true" field="name"
                                [forceSelection]="false" [minLength]="1" id="categoryName" styleClass="form-control-with-buttons">
                </p-autoComplete>
            </div>

            <div class="fieldset__categoryAndAccounts__item">
                <label for="account">Account: </label>
                <p-dropdown [options]="accounts()" formControlName="account" optionLabel="name"
                            placeholder="Select Account" id="account" styleClass="account-dropdown">
                </p-dropdown>
            </div>
    </p-fieldset>

    <p-fieldset styleClass="budget-form__fieldset" legend="'Budget Details'">
        <div class="fieldset__budgetDetails">
            <div class="fieldset__budgetDetails_topRow">
                <div class="fieldset__budgetDetails_topRow_item">
                    <label for="date">Date: </label>
                    <input formControlName="date" type="text" id="date" pInputText/>
                </div>
                <div class="fieldset__budgetDetails_topRow_item budget-recur">
                    <label for="recurring">Recurring?</label>
                    <p-inputSwitch id="recurring" formControlName="isRecurring"></p-inputSwitch>
                </div>
            </div>
        </div>
        <div class="fieldset__budgetDetails_middleRow_right">
            <ng-container *ngIf="createBudgetForm.get('isRecurring')?.value == true">
                <form formGroupName="recurringBudgetForm">
                    <div class="fieldset__budgetDetails_middleRow_right_item">
                        <label for="frequency">Frequency: </label>
                        <p-dropdown [options]="recurringFrequencyOptions"
                                    formControlName="frequency"
                                    optionLabel="label"
                                    optionValue="value"
                                    id="frequency">
                        </p-dropdown>
                    </div>
                    <div class="fieldset__budgetDetails_middleRow_right_item">
                        <label for="endDate">End Date: </label>
                        <p-calendar formControlName="endDate"
                                    dateFormat="dd/mm/yy"
                                    [showIcon]="true"
                                    id="endDate">
                        </p-calendar>
                    </div>
                </form>
            </ng-container>
        </div>
        <div class="fieldset__budgetDetails_middleRow">
            <div class="fieldset__budgetDetails_middleRow_left">
                <div class="fieldset__budgetDetails_middleRow_left_item">
                    <label for="transactionType">Select Transaction Type: </label>
                    <p-selectButton [options]="transactionTypeOptions" formControlName="transactionType" optionLabel="label"
                                    optionValue="value" id="transactionType" styleClass="transaction-buttons">
                    </p-selectButton>
                </div>
                <div class="fieldset__budgetDetails_middleRow_left_item">
                    <label for="amount">Amount: </label>
                    <p-inputNumber formControlName="amount" inputId="currency-gbp" mode="currency" currency="GBP" locale="en-GB"
                                   [showButtons]="true" [step]="0.01" id="amount" styleClass="form-control-with-buttons">
                    </p-inputNumber>
                </div>
            </div>
        </div>
        <div class=fieldset__budgetDetails_bottomRow>
            <div class="fieldset__budgetDetails_bottomRow_item">
                <label for="note">Notes: </label>
                <textarea formControlName="note" pInputTextarea rows="3" cols="30" placeholder="Notes..."
                          [autoResize]="true" id="note">
        </textarea>
            </div>
        </div>

    </p-fieldset>

    <div class="buttons">
        <button pButton type="submit" label="Create" ></button>
    </div>


</form>
