
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;

    
}

.authForm{
    width: 50rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    input, .p-inputwrapper {
        border-radius: 2rem;
        width: 100%;
        height: 4rem;
        font-size: 2rem;

    }
    span {
        margin-bottom: 3rem;
        width: 60%;

        
    }

    .p-float-label{
        font-size: 1.5rem;
    }

    .buttonGroup{
        display: flex;
        width: 100%;
        justify-content: center;

        .p-button{
            display: block;
            width: 10rem;
            margin-top: 2rem;
            height: 3.5rem;
            border-radius: 1rem;
        }

        .p-button:last-child{
            margin-left: 2rem;
        }
    }
}

.p-tabmenu-nav-content{
    margin-bottom: 3rem;

}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
    margin: 0 0 0.5px 0;
}

.p-tabmenu .p-tabmenu-nav :not(.p-tabmenuitem.p-highlight) .p-menuitem-link
{
    border-bottom: none;
    border-top: 1px solid #ebebeb;
    
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:first-child:not(.p-tabmenuitem.p-highlight) .p-menuitem-link{
    border-right: 2px solid #ebebeb;
    border-bottom: none ;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:nth-child(2):not(.p-tabmenuitem.p-highlight) .p-menuitem-link{
    border-left: 2px solid #ebebeb;
    border-bottom: none ;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
   width: 30rem;
  
}

.p-tabmenu-nav a{
    justify-content: center;
}
 
.p-menuitem-text, .pi{
         
    font-size: 2.5rem;
}


@media screen and (max-width: 1200px) {
     
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
        width: 20rem;
       
     }
    
}

@media screen and (max-width: 992px) {
    
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
        width: 15rem;
       
     }
    
}


@media screen and (max-width: 768px) {
    
 
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
        width: 13rem;
       
     }

  
    
}

@media screen and (max-width: 576px) {

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
        width: 50vw;
       
     }

     .p-menuitem-text, .pi{
         
        font-size: 1.25rem;
    }

    
}