.item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.1rem 0.5rem;
  margin: 0.1rem 0.2rem;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 0.8rem;

  &:hover{
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    background-color: lightskyblue;
  }
}

.item__name {
  font-weight: bold;

}


