.item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
  margin: 0.2rem 0.2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);

}


.Item-Name{
  font-weight: bold;
}

.Item-Name, .Item-Amount{
  margin-right: 0;
  width: 50%;
}



.Item-Amount{
  text-align: right;

  color: green;

  &.expense{
    color: red;
  }
}
