
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="authForm">
        
        <div class="field p-fluid mt-3">
            <span class="p-float-label">
                <input class="authInputs" [ngClass]="{'ng-invalid': email?.invalid}"  pInputText formControlName="email" required />
                <label for="email">Email*</label>
            </span>
             <small *ngIf="validateControl('email') && hasError('email', 'required')" id="email-error" class="p-error">Email is required</small>
             <small *ngIf="validateControl('email') && hasError('email', 'email')" class="p-error"> Email Fomat Invalid</small>
            </div>
        
        <div class="field p-fluid mt-3">
        <span class="p-float-label">
            <p-password class="authInputs" [ngClass]="{'ng-invalid': password?.invalid}" formControlName="password" [feedback]="false" > </p-password>   
            <label for="password">Password*</label>
        </span>
        <small *ngIf="validateControl('password') && hasError('password', 'required')" class="p-error">Password is required</small>
        <small *ngIf="validateControl('password') && hasError('password', 'minLength')" class="p-error">Minimum Password Length - 6</small>
        </div>

        <ng-container *ngIf="authMode == 'register'">

        <div class="field p-fluid mt-3">
            <span class="p-float-label">
                    <p-password class="authInputs" [ngClass]="{'ng-invalid': confirmPassword?.invalid}"  formControlName="confirmPassword" [feedback]="false" > </p-password>   
                    <label for="confirmPassword">Confirm Password*</label>
            </span>
            <small *ngIf="validateControl('confirmPassword') && hasError('confirmPassword', 'required')" class="p-error">Confirm Password is required</small>
        </div>
    </ng-container>

        <div class="buttonGroup">
        <button pButton pRipple class="submitButton" type="submit" label={{authMode.toString()}}  [disabled]="!form.valid"></button>
        <button pButton pRipple type="reset" label="Reset"></button>
   </div> 
</form>

  

