.header{
  height: 2.5rem;
  width: 100vw;
  display: flex;
  background-color: darkslategrey;
  justify-content: space-between;
  align-items: center;

  &__title{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-left: 1rem;
  }

  &__menu-button {

    width: 3rem;

     p-button > button {
        padding: 0;
      }

    img{
      width: 3rem;
      height: 3rem;
      margin: 0 0.2rem;
    }
  }

}
